---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/761053?api_key=API_Key&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 695021ffea95f6546d373930b913d56b7dd13988
      X-Memc-Age:
      - '19478'
      X-Memc-Expires:
      - '2122'
      Etag:
      - W/"bd778a6e7ff972e0aa93183b35fad5a4"
      Last-Modified:
      - Fri, 04 Dec 2020 00:41:22 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg","belongs_to_collection":{"id":729322,"name":"Gabriel''s
        Inferno Collection","poster_path":"/hHTzveTImCWuQfpTNiB5yGZOo7e.jpg","backdrop_path":"/hXF55codODfnzTZDExbUbfFmA9y.jpg"},"budget":0,"genres":[],"homepage":"","id":761053,"imdb_id":null,"original_language":"en","original_title":"Gabriel''s
        Inferno Part III","overview":"The final part of the film adaption of the erotic
        romance novel Gabriel''s Inferno written by an anonymous Canadian author under
        the pen name Sylvain Reynard.","popularity":37.015,"poster_path":"/qtX2Fg9MTmrbgN1UUvGoCsImTM8.jpg","production_companies":[{"id":92153,"logo_path":"/psjvYkjjgAPtS8utnFYDM8t8yi7.png","name":"PassionFlix","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2020-11-19","revenue":0,"runtime":0,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Gabriel''s
        Inferno Part III","video":false,"vote_average":9.3,"vote_count":449}'
  recorded_at: Fri, 04 Dec 2020 00:50:18 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/761053/credits?api_key=API_Key&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 50e894e75aff4dbdac1f2057bd88a03916452e43
      X-Memc-Age:
      - '7696'
      X-Memc-Expires:
      - '13904'
      Etag:
      - W/"b16818495dc77dc7cc8d921f3105b2ff"
      Last-Modified:
      - Fri, 04 Dec 2020 00:41:22 GMT
    body:
      encoding: UTF-8
      string: '{"id":761053,"cast":[],"crew":[]}'
  recorded_at: Fri, 04 Dec 2020 00:50:19 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/761053/reviews?api_key=API_Key&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 28d24fd745b810f24e2d0889fb7679c5e1c15702
      X-Memc-Age:
      - '2185'
      X-Memc-Expires:
      - '19415'
      Etag:
      - W/"8d1eafc5ae7d5fbd9a2740ec98020aeb"
      Last-Modified:
      - Fri, 04 Dec 2020 00:41:22 GMT
    body:
      encoding: UTF-8
      string: '{"id":761053,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Fri, 04 Dec 2020 00:50:19 GMT
recorded_with: VCR 6.0.0
