---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/761053?api_key=API_Key&append_to_response=credits,reviews&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 695021ffea95f6546d373930b913d56b7dd13988
      X-Memc-Age:
      - '17858'
      X-Memc-Expires:
      - '3742'
      Etag:
      - W/"0263f92e2fa0f6869f0055e58812df29"
      Last-Modified:
      - Wed, 09 Dec 2020 01:01:08 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/fQq1FWp1rC89xDrRMuyFJdFUdMd.jpg","belongs_to_collection":{"id":729322,"name":"Gabriel''s
        Inferno Collection","poster_path":"/hHTzveTImCWuQfpTNiB5yGZOo7e.jpg","backdrop_path":"/hXF55codODfnzTZDExbUbfFmA9y.jpg"},"budget":0,"genres":[],"homepage":"","id":761053,"imdb_id":null,"original_language":"en","original_title":"Gabriel''s
        Inferno Part III","overview":"The final part of the film adaption of the erotic
        romance novel Gabriel''s Inferno written by an anonymous Canadian author under
        the pen name Sylvain Reynard.","popularity":42.139,"poster_path":"/qtX2Fg9MTmrbgN1UUvGoCsImTM8.jpg","production_companies":[{"id":92153,"logo_path":"/psjvYkjjgAPtS8utnFYDM8t8yi7.png","name":"PassionFlix","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2020-11-19","revenue":0,"runtime":0,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Gabriel''s
        Inferno Part III","video":false,"vote_average":9.2,"vote_count":469,"credits":{"cast":[],"crew":[]},"reviews":{"page":1,"results":[],"total_pages":0,"total_results":0}}'
  recorded_at: Wed, 09 Dec 2020 03:48:10 GMT
recorded_with: VCR 6.0.0
