---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/291545?api_key=API_Key&append_to_response=credits,reviews&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - caaa4099a10242d14c05fbddddbcc48ddb58db39
      X-Memc-Age:
      - '2920'
      X-Memc-Expires:
      - '18680'
      Etag:
      - W/"42f51d4a724264a1511436900ae6ebb5"
      Last-Modified:
      - Tue, 08 Dec 2020 17:52:43 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":27,"name":"Horror"}],"homepage":"","id":291545,"imdb_id":"tt0352699","original_language":"en","original_title":"Parasite","overview":"An
        abandoned oil rig in the middle of the North Sea. Dr. Christine Hansen is
        charged with the task of testing an experimental cleaning fluid which could
        revolutionize the oil industry. Hired to carry out the tests is Jacob Rasmussen
        and his rough and ready crew of deconstruction engineers. But within hours
        one of them is missing under suspicious circumstances. Things go from bad
        to worse when environmental activist Mickey Hennessey and his hard-bitten
        associates seize control of the rig, taking everybody on board hostage. But
        very soon oil workers and environmentalists will be compelled to join forces
        in an evolutionary battle for survival. For a savage new life-form has made
        its home on the rig. And it is hungry.","popularity":6.715,"poster_path":"/lDsUWvTHbSsI62u63S8B6Jjgztb.jpg","production_companies":[],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"}],"release_date":"2004-01-01","revenue":0,"runtime":93,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"They
        messed with mother nature... Now she wants revenge.","title":"Parasite","video":false,"vote_average":5.2,"vote_count":9,"credits":{"cast":[{"adult":false,"gender":0,"id":296485,"known_for_department":"Acting","name":"Gary
        Condes","original_name":"Gary Condes","popularity":0.6,"profile_path":null,"cast_id":5,"character":"Nils","credit_id":"54ae985c9251410aaa0003b0","order":1},{"adult":false,"gender":0,"id":173086,"known_for_department":"Acting","name":"Saskia
        Gould","original_name":"Saskia Gould","popularity":0.6,"profile_path":null,"cast_id":6,"character":"Dr.
        Christine Hansen","credit_id":"54ae986fc3a368070f0004be","order":2},{"adult":false,"gender":0,"id":203225,"known_for_department":"Acting","name":"Conrad
        Whitaker","original_name":"Conrad Whitaker","popularity":0.6,"profile_path":null,"cast_id":7,"character":"Mickey","credit_id":"54ae987e9251417085000434","order":3},{"adult":false,"gender":0,"id":1235826,"known_for_department":"Acting","name":"G.W.
        Stevens","original_name":"G.W. Stevens","popularity":0.6,"profile_path":null,"cast_id":8,"character":"Jacob
        Rasmussen","credit_id":"54ae988ec3a368399e001e52","order":4},{"adult":false,"gender":2,"id":1410683,"known_for_department":"Acting","name":"Oliver
        Price","original_name":"Oliver Price","popularity":0.6,"profile_path":"/hQr3TUq2YjA8JFd1pVDxlaSzxZW.jpg","cast_id":10,"character":"Gio","credit_id":"54ae98a5c3a36817f00004d4","order":6},{"adult":false,"gender":0,"id":2637719,"known_for_department":"Acting","name":"Margaret
        Thompson","original_name":"Margaret Thompson","popularity":0.6,"profile_path":null,"cast_id":11,"character":"Kim","credit_id":"5ebca3188e2e00002110cc0c","order":7}],"crew":[{"adult":false,"gender":0,"id":1340301,"known_for_department":"Directing","name":"Andrew
        Prendergast","original_name":"Andrew Prendergast","popularity":0.6,"profile_path":null,"credit_id":"54ae983dc3a368328e00042c","department":"Writing","job":"Screenplay"},{"adult":false,"gender":0,"id":1340301,"known_for_department":"Directing","name":"Andrew
        Prendergast","original_name":"Andrew Prendergast","popularity":0.6,"profile_path":null,"credit_id":"54ae980d92514169e0001e5a","department":"Directing","job":"Director"},{"adult":false,"gender":0,"id":1340301,"known_for_department":"Directing","name":"Andrew
        Prendergast","original_name":"Andrew Prendergast","popularity":0.6,"profile_path":null,"credit_id":"54ae984b925141708500042d","department":"Production","job":"Producer"},{"adult":false,"gender":0,"id":1410681,"known_for_department":"Writing","name":"Alan
        Coulson","original_name":"Alan Coulson","popularity":0.6,"profile_path":null,"credit_id":"54ae981cc3a368666a001a2c","department":"Writing","job":"Screenplay"},{"adult":false,"gender":0,"id":1410682,"known_for_department":"Writing","name":"Paul
        Mackman","original_name":"Paul Mackman","popularity":0.6,"profile_path":null,"credit_id":"54ae982f9251412cb10003aa","department":"Writing","job":"Screenplay"}]},"reviews":{"page":1,"results":[],"total_pages":0,"total_results":0}}'
  recorded_at: Tue, 08 Dec 2020 22:07:51 GMT
recorded_with: VCR 6.0.0
